<html>
<head>
<link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../public/stylesheets/desktop.css">
<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
<script src="../public/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../public/js/desktop.js" type="text/javascript"></script>
</head>

<body>

<div class="container">
<div class="row header">
	
<a class="visible-xs pull-right button" href="#addSong" id="plus" href="" title=""></a>
<h3>boom boom pow</h3>
<h4>H91DP18</h4>
</div> <!-- row -->
<div class="row">
<div class="col-sm-6" id="searchDiv">
	search
</div>
<div class="col-sm-6" id="playlistDiv">
playlist
</div>
</div> <!-- row -->
</div> <!-- container -->

</body>
</html>
