<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="../public/stylesheets/player.css">
<link rel="stylesheet" type="text/css" href="../public/stylesheets/playlist.css">
<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>

</head>
<body>
    <div class="player-nav">
	    	<p class="party-text">H91D18A<br>boom boom meow</p>
    </div>

    <div class="container">
    
	    <div class="row player-panel">
			<div class="col-xs-2">
				<img src="../public/img/play.png"/>
			</div>
			<div class="col-xs-8">
				<div class="row">
					<div id="now-playing-song" href="#" class="text-center">I'm Gonna Be (500 Miles)</div>
    				<div id="now-playing-artist" href="#" class="text-center">The Proclaimers</div>
				</div>
			</div>
			<div class="col-xs-2 meta_data">
	            <span id="playlist_item_like" data-content="playlist_item_like"></span>
	            <span id="playlist_item_rating" data-content="playlist_item_rating"></span>
	        </div>
		</div>
		</div>
<!-- 
    	<div class="row"> search bar its own colun -->
    			<div class="search-bar"><!-- search bar -->
    				<input type="text" id="search-box" placeholder="Search for songs...">
    			</div>

    			<div class="row search-result"><!-- search result -->
    				<div class="col-xs-10">
    					<div class="search-result-song">Black Skinhead</div>
    					<div class="search-result-artist">Kanye West</div>
    				</div>
    				<div class="col-xs-2 add-song-plus">
    					<a href="#"><span class="glyphicon glyphicon-plus song1"></span></a>
    				</div>
    			</div>
    			<div class="row search-result">
    				<div class="col-xs-10">
    					<div class="search-result-song">Black Mirror</div>
    					<div class="search-result-artist">The Arcade Fire</div>
    				</div>
    				<div class="col-xs-2 add-song-plus">
    					<a href="#"><span class="glyphicon glyphicon-plus song2"></span></a>
    				</div>
    			</div>
    			<div class="row search-result">
    				<div class="col-xs-10">
    					<div class="search-result-song">Back in Black</div>
    					<div class="search-result-artist">ACDC</div>
    				</div>
    				<div class="col-xs-2 add-song-plus ">
    					<a href="#"><span class="glyphicon glyphicon-plus song3"></span></a>
    				</div>
    			</div>
    			<div class="row search-result">
    				<div class="col-xs-10">
    					<div class="search-result-song">Blackhole Sun</div>
    					<div class="search-result-artist">Soundgarden</div>
    				</div>
    				<div class="col-xs-2 add-song-plus">
    					<a href="#"><span class="glyphicon glyphicon-plus song4"></span></a>
    				</div>
    			</div>
    		</div>
    		<div class="playlist-row"> <!-- playlist panel -->
    			<div class="playlist">
        		</div> 
    		</div>
    <!-- </div> -->

</body>
<script type="text/javascript" src="../public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../public/js/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="../public/js/jquery.loadTemplate-1.2.7.min.js"></script>

<script src="../public/js/playlist.js"></script>
<script src="../public/js/search.js"></script>

<script type="text/html" id="playlist_item">
    <div class="playlist_item row">
        <div class="col-xs-2 index">
            <div id="playlist_item_index" data-content="playlist_item_index"></div>
        </div>
        <div class="col-xs-8 song_data">
            <div id="playlist_item_song_name" data-content="playlist_item_song_name"></div>
            <div>
                <span data-content="playlist_item_artist"></span>,
                <span data-content="playlist_item_album"></span>
            </div>
        </div>
        <div class="col-xs-2 meta_data">
            <span id="playlist_item_like" data-content="playlist_item_like"></span>
            <span id="playlist_item_rating" data-content="playlist_item_rating"></span>
        </div>
    </div> 
</script>

<script type="text/javascript">
	$(document).ready(function() {

		// set play button
		playBtn = document.getElementById('play');
		playBtn.style.backgroundImage = "url(../public/img/play.png)";
	});

</script>
</html>
