<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/m.main.css">
    </head>
    <body>
        <div class="player_nav">
            <img src="/img/logo.png" class="logo pull-left" />
            <p class="party_text">
                <span class='party_code'> H91D18A </span>
                <br>
                <span class='party_name'>boom boom meow</span>
            </p>
        </div>

        <div class="container">

            <!-- m_player_panel is only compatible for guest user -->
            <div class="row m_player_panel">
                <div class="col-xs-3 player_btn">
                    <span class="button glyphicon glyphicon-play play_symbol"></span>
                </div>
                <div class="col-xs-9 player_info">
                    <div class="row">
                        <div class="col-xs-9">
                            <div id="now_playing_song" class="text-left">
                                I'm Gonna Be (500 Miles)
                            </div>
                            <div id="now_playing_artist" class="text-left">
                                The Proclaimers
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <span class="glyphicon glyphicon-heart"></span>
                        </div>
                    </div>
                    <div class="row">
                        <input type="range" class="seek" id="seek" value="0" max="100"/>
                        <p id="timeLeft"/>
                        </div>
                    </div>
                </div>
            </div>

            <!-- player_panel is only compatible for host user -->
            <div class="row player_panel">
                <div class="col-sm-3">
                    <span class="button glyphicon glyphicon-step-backward restart_button"></span>
                    <span class="button glyphicon glyphicon-play play_button"></span>
                    <span class="button glyphicon glyphicon-step-forward forward_button"></span>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div id="now-playing-song" href="#" class="text-center">
                            I'm Gonna Be (500 Miles)
                        </div>
                        <div id="now-playing-artist" href="#" class="text-center">
                            The Proclaimers
                        </div>
                    </div>
                    <input type="range" class="seek" id="seek" value="0" max="100"/>
                    <p id="timeLeft"/>
                </div>
                <div class="col-sm-3">
                    <span id="volume" href="#volume" class="glyphicon glyphicon-volume-down"></span>  
                    <div id="slider" class="pull-right">
                        <div id="range"/></div> 
                    </div>
                </div>
		    </div>
        </div>

        <div class="row container">
            <div class="col-sm-6 search_panel">
                <div class="row">
                    <input type="text" id="search_box" placeholder="Search for songs...">
                </div>
                <div class="row">
                    <div class="search_results">
                    </div>
                </div>
                <!--dynamically loaded search items-->
            </div>
            <div class="col-sm-6 playlist_panel">
                <div class="playlist">
                </div>
                <!--dynamically loaded playlist items-->
            </div>
        </div>


        <!-- templating -->
        <script type="text/html" id="playlist_item">
            <div class="playlist_item row">
                <div class="col-xs-2 index">
                    <div id="playlist_item_index" data-content="playlist_item_index"></div>
                </div>
                <div class="col-xs-8 song_data">
                    <div id="playlist_item_song_name" data-content="playlist_item_song_name"></div>
                    <div>
                        <span data-content="playlist_item_artist"></span>,
                        <span data-content="playlist_item_album"></span>
                    </div>
                </div>
                <div class="col-xs-2 meta_data">
                    <span id="playlist_item_like" data-content="playlist_item_like"></span>
                    <!--span id="playlist_item_rating" data-content="playlist_item_rating"></span-->
                </div>
            </div> 
        </script>

        <script type="text/html" id="search_result">
          <div class="search_result row">
              <div class="col-xs-10 song_data">
                  <div id="search_result_song_name" data-content="search_result_song_name"></div>
                  <div>
                      <span data-content="search_result_artist"></span>,
                       <span data-content="search_result_album"></span>
                  </div>
              </div>
             <div class="col-xs-2 meta_data">
                 <span id="search_result_add" data-content="search_result_add"></span>
              </div>
           </div> 
        </script>

        <!-- javascript dependencies -->
        <script src="/js/vendors/jquery.min.js"></script>
        <script src="/js/vendors/bootstrap.min.js"></script>
        <script src="/js/vendors/jquery.loadTemplate-1.2.7.min.js"></script>
        <script src="/js/vendors/jquery-ui.min.js"></script>
        <script src="/js/playlist.js"></script>
        <script src="/js/connect.js"></script>
        <script src="/js/search.js"></script>
        <script src="/js/player.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>

