<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/m.main.css">
    </head>
    <body>
        <div id="apiswf"></div>
        <div class="player_nav row">
            <div class="col-xs-2">
                <span class='glyphicon glyphicon-chevron-left back_button'></span>
                <img src="/img/logo.png" class="logo pull-left" />
            </div>
            <div class="party_text col-xs-8">
                <span class='party_code'></span>
                <!--br>
                <span class='party_name'></span-->
            </div>
            <div class="col-xs-2">
                <span class='glyphicon glyphicon-plus add_song_button'></span>
            </div>
        </div>

        <div class="container">
            <!-- m_player_panel is only compatible for guest user -->
            <div class="row m_player_panel">
                <div class="col-xs-3 player_btn">
                    <span class="glyphicon glyphicon-play play_symbol"></span>
                </div>
                <div class="col-xs-9 player_info">
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="now_playing_song trackkey="playlist_item_key" text-left" duration="playlist_item_duration"></div>
                            <div class="text-left">
                                <span class="now_playing_artist"></span>,
                                <span class="now_playing_album"></span>
                            </div>
                        </div>
                        <div class="col-xs-3" trackkey="playlist_item_key">
                            <span class="glyphicon glyphicon-heart" trackkey="playlist_item_key"></span>
                        </div>
                    </div>
                    <div class="row">
                        <progress class="seek progress" value="0" max="100"></progress>
                        <span class="time_elapsed"></span>
                    </div>
                </div>
            </div>

            <!-- player_panel is only compatible for host user -->
            <div class="row player_panel">
                <div class="col-sm-3">
                    <span class="button glyphicon glyphicon-step-backward restart_button"></span>
                    <span class="button glyphicon glyphicon-play play_button"></span>
                    <span class="button glyphicon glyphicon-step-forward forward_button"></span>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="now_playing_song text-center" duration="playlist_item_duration" trackkey="playlist_item_key" href="#">
                        </div>
                        <div href="#" class="text-center">
                            <span class="now_playing_artist"></span>,
                            <span class="now_playing_album"></span>
                        </div>
                    </div>
                    <input type="range" class="seek" id="seek" value="0" max="100"/>
                    <p id="time_left"/>
                </div>
                <div class="col-sm-3">
                    <span id="volume" href="#volume" class="glyphicon glyphicon-volume-down"></span>  
                    <div id="slider" class="pull-right">
                        <div id="range"/></div> 
                    </div>
                </div>
		    </div>
        </div>

        <div class="row container">
            <div class="col-sm-6 search_panel">
                <div class="row">
                    <input type="text" id="search_box" placeholder="Search for songs...">
                </div>
                <div class="row">
                    <div class="search_results">
                    </div>
                </div>
                <!--dynamically loaded search items-->
            </div>
            <div class="col-sm-6 playlist_panel">
                <div class="playlist">
                </div>
                <!--dynamically loaded playlist items-->
            </div>
        </div>


        <!-- templating -->
        <script type="text/html" id="playlist_item">
            <div class="playlist_item row">
                <div class="col-xs-2 index">
                    <div id="playlist_item_index" data-content="playlist_item_index"></div>
                </div>
                <div class="col-xs-8 song_data">
                    <div id="playlist_item_song_name" trackkey="playlist_item_key" data-content="playlist_item_song_name"></div>
                    <div>
                        <span data-content="playlist_item_artist"></span>,
                        <span data-content="playlist_item_album"></span>
                    </div>
                </div>
                <div class="col-xs-2 meta_data" trackkey="playlist_item_key">
                    <span class="playlist_item_like" data-content="playlist_item_like"></span>
                    <!--span id="playlist_item_rating" data-content="playlist_item_rating"></span-->
                </div>
            </div> 
        </script>

        <script type="text/html" id="search_result">
          <div class="search_result row">
              <div class="col-xs-10 song_data">
                  <div id="search_result_song_name" data-content="search_result_song_name"></div>
                  <div>
                      <span data-content="search_result_artist"></span>,
                       <span data-content="search_result_album"></span>
                  </div>
              </div>
             <div class="col-xs-2 meta_data">
                 <span class="search_result_add" data-content="search_result_add"></span>
              </div>
           </div> 
        </script>

        <!-- javascript dependencies -->
        <script src="/js/vendors/jquery.min.js"></script>
        <script src="/js/vendors/bootstrap.min.js"></script>
        <script src="/js/vendors/jquery.loadTemplate-1.2.7.min.js"></script>
        <script src="/js/vendors/jquery-ui.min.js"></script>
        <script src="/js/vendors/async.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
        <script src="/js/debounce.js"></script>
        <script src="/js/playlist.js"></script>
        <script src="/js/connect.js"></script>
        <script src="/js/search.js"></script>
        <script src="/js/player.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>

