
<!DOCTYPE html>
<head>

<link rel="stylesheet" type="text/css" href="../public/stylesheets/player.css">
<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
<script type="text/javascript" src="../public/js/player.js"></script>

</head>

<body>

	<h1>HTML 5 Audio Player</h1>

	<div class="container">

		<div class="player">

			<a class="button" id="restart" href="" title=""></a>
			<a class="button" id="play" href="" title=""></a>
			<a class="button" id="forward" href="" title=""></a>

				<input type="range" id="seek" value="0" max=""/>
			
		</div><!-- / player -->
		
	</div><!-- / Container-->
</body>

<script type="text/javascript">
	// jQuery(document).ready(function() {

	// 	container = $('.container');
	// 	cover = $('.cover');
	// 	play = $('#play');
	// 	pause = $('#pause');
	// 	mute = $('#mute');
	// 	muted = $('#muted');
	// 	close = $('#close');
	// 	song = new Audio('../public/audio/I\'m_Gonna_Be.mp3');
	// 	duration = song.duration;

	// 	play.click(function() {
	// 		song.play();
	// 	});

	// 	$("#seek").bind("change", function() {
	// 		song.currentTime = $(this).val();
	// 		$("#seek").attr("max", song.duration);
	// 	});

	// 	song.addEventListener('timeupdate',function (){
	// 		curtime = parseInt(song.currentTime, 10);
	// 	$("#seek").attr("value", curtime);
	// 	});


	// });
	$(document).ready(function(){
		play = $('#play');
		song = new Audio('../public/audio/I\'m_Gonna_Be.mp3');
		play.click(function() {
			song.play();
		});
	});

</script>
</html>
