<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="../public/stylesheets/player.css">
<link rel="stylesheet" type="text/css" href="../public/stylesheets/playlist.css">
<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>

</head>
<body>
<!-- 	<div class="navbar navbar-inverse player-nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Cr0wdSound</a>
        </div>
      </div>
    </div> -->

    <div class="player-nav">
    	<img src="../public/img/logo.png" class="logo pull-left" />
    	<p class="party-text">H91D18A<br>boom boom meow</p>
    </div>

    <div class="container">
    
	    <div class="row player-panel">
			<div class="col-sm-3">
					<div class="col-sm-4 col-md-2 col-md-offset-3"><a class="button" href="#restart" id="restart" href="" title=""></a></div>
					<div class="col-sm-4 col-md-2"><a class="button" href="#play" id="play" href="" title=""></a></div>
					<div class="col-sm-4 col-md-2"><a class="button" href="#forward" id="forward" href="" title=""></a></div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<p class="text-center no-bottom-margin"><strong>I'm Gonna Be (500 Miles)</strong></p>
    				<p class="text-center">The Proclaimers</p>
				</div>
					<input type="range" class="seek" id="seek" value="0" max="100"/>
					<p id="timeLeft"/>
			</div>
			<div class="col-sm-3">
					<span id="volume" href="#volume" class="glyphicon glyphicon-volume-down"></span>  
					<div id="slider" class="pull-right"><div id="range"/></div> 
			</div>
		</div>
		</div>

    	<div class="row"><!-- contains search and playlist -->
    		<div class="col-sm-6"><!-- search panel -->
    			<div class="row"><!-- search bar -->
    				<input type="text" id="search-box" placeholder="Search for songs...">
    			</div>

    			<div class="row search-result"><!-- search result -->
    				<div class="col-sm-10">
    					<p class="no-bottom-margin"><strong>Black Skinhead</strong></p>
    					<p>Kanye West</p>
    				</div>
    				<div class="col-sm-2">
    					<a href="#"><span class="glyphicon glyphicon-plus add-song-plus"></span></a>
    				</div>
    			</div>
    			<div class="row search-result">
    				<div class="col-sm-10">
    					<p class="no-bottom-margin"><strong>Black Mirror</strong></p>
    					<p>The Arcade Fire</p>
    				</div>
    				<div class="col-sm-2">
    					<a href="#"><span class="glyphicon glyphicon-plus add-song-plus"></span></a>
    				</div>
    			</div>
    			<div class="row search-result">
    				<div class="col-sm-10">
    					<p class="no-bottom-margin"><strong>Back in Black</strong></p>
    					<p>ACDC</p>
    				</div>
    				<div class="col-sm-2">
    					<a href="#"><span class="glyphicon glyphicon-plus add-song-plus"></span></a>
    				</div>
    			</div>
    			<div class="row search-result">
    				<div class="col-sm-10">
    					<p class="no-bottom-margin"><strong>This is a song title</strong></p>
    					<p>Artist Name</p>
    				</div>
    				<div class="col-sm-2">
    					<a href="#"><span class="glyphicon glyphicon-plus add-song-plus"></span></a>
    				</div>
    			</div>
    		</div>
    		<div class="col-sm-6"><!-- playlist panel -->
    			<div class="playlist">
        		</div> 
    		</div>
    	</div>
    </div>

</body>
<script type="text/javascript" src="../public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../public/js/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="../public/js/jquery.loadTemplate-1.2.7.min.js"></script>

<script src="../public/js/playlist.js"></script>

<script type="text/html" id="playlist_item">
    <div class="playlist_item row">
        <div class="col-xs-2 index">
            <div id="playlist_item_index" data-content="playlist_item_index"></div>
        </div>
        <div class="col-xs-8 song_data">
            <div id="playlist_item_song_name" data-content="playlist_item_song_name"></div>
            <div>
                <span data-content="playlist_item_artist"></span>,
                <span data-content="playlist_item_album"></span>
            </div>
        </div>
        <div class="col-xs-2 meta_data">
            <span id="playlist_item_like" data-content="playlist_item_like"></span>
            <span id="playlist_item_rating" data-content="playlist_item_rating"></span>
        </div>
    </div> 
</script>

<script type="text/javascript">
	$(document).ready(function() {

		// set play button
		playBtn = document.getElementById('play');
		playBtn.style.backgroundImage = "url(../public/img/play.png)";

		slider = document.getElementById('seek');
		timeLeft = document.getElementById('timeLeft');
		song = new Audio('../public/audio/I\'m_Gonna_Be.mp3');
		song.volume = .35;
		duration = song.duration;

		isPlaying = false;

		// play button functionality
		$('#play').click(function() {
			if (!isPlaying) {
				isPlaying = true;
				playBtn.style.backgroundImage = "url(../public/img/pause.png)";
				song.play();
			} else {
				isPlaying = false;
				playBtn.style.backgroundImage = "url(../public/img/play.png)";
				song.pause();
			}
		});

		// seek bar functionality
		$("#seek").bind("change", function() {
			song.currentTime = $(this).val();
			$("#seek").attr("max", song.duration);
		});

		// seek indicator moving with song
		$(song).bind('timeupdate', function() {
			var currTime = song.currentTime;
			var duration = song.duration;
			var rem = parseInt(duration - currTime, 10);
			slider.value = (currTime/duration)*slider.max;

			pos = (currTime / duration) * 100,
			mins = Math.floor(rem/60,10),
			secs = rem - mins*60;
						
			timeLeft.innerText = '-' + mins + ':' + (secs > 9 ? secs : '0' + secs);
		});

		// volume control

		 var volumeSlider = $('#slider');

		 volumeSlider.slider({
		 		range: 'min',
                min: 0,
                max: 100,
                value: 35,

                slide: function(event, ui) {
                	var value = volumeSlider.slider('value'),  
		            volume = $('#volume');  

		            song.volume = volumeSlider.slider('value')*1.0/100;
		  
		  			if (value <= 0) {
		  				volume.removeClass();
		  				volume.addClass("glyphicon").addClass("glyphicon-volume-off");
		  			} else if (value > 0 && value <= 50) {   
		                volume.removeClass();
		  				volume.addClass("glyphicon").addClass("glyphicon-volume-down");  
		            } else if (value > 50) {  
		                volume.removeClass();
		  				volume.addClass("glyphicon").addClass("glyphicon-volume-up");
		            }
                }
            });

		 var lastVolume = .35;
		 $('#volume').click(function() {
		 		volume = $('#volume');

		 		volume.removeClass();
		 		volume.addClass("glyphicon");

		 		if (song.volume == 0) {
		 			song.volume = lastVolume;
		 			if (lastVolume <= 50) 
		  				volume.addClass("glyphicon-volume-down");
		  			else
		  				volume.addClass("glyphicon-volume-up");
		 		} else {
		 			lastVolume = song.volume;
		 			song.volume = 0;
		 			volume.addClass("glyphicon-volume-off");
		 		}

		 		volumeSlider.slider('value', 100*song.volume);
		 });

	});

</script>
</html>