body {
	background:#888;
}
div {
	background:#fff;
}

.header {
	background:#8888ff;
	text-align:center;
	padding-bottom:14px;
}
#playlistDiv {
	background:#aaa;
	min-height:400px;
	padding:20px;
}

#searchDiv {
	display:none;
	padding:20px;
	min-height:400px;
}

#plus {
	width:30px;
	height:30px;
	background-image: url(../img/plus.png);
	margin:30px 25px 0 0;
}

@media (min-width: @screen-xs-min) {
	#searchDiv {
		display:block ! important;
	}
	
	#playlistDiv {
		display:block ! important;
	}
}
