/* PLAYER */

.player {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 300px;
	width: 95%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
}

.seek{
    display:none\9!important;
    -webkit-appearance: none;
    height: 8px;
    width: 100%;
    background-color: #5b9ce8;
}

.seek::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 15px;
    background: #B0AEB0; /* Old browsers */
/*	background: -webkit-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
    background: -moz-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
    background: -o-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
    background: linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%); /* W3C */*/
}

.button {
	display: block;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	float: left;
	margin-right: 5px;
}

#volume {
	width: 10%;
	font-size: 25px;
}

#forward {
	background-image: url(../img/forward.png);
}

#pointer {
	background-image: url(../img/pointer.png);
}

#restart {
	background-image: url(../img/restart.png);
}

#timeLeft {
	width: 100%;
	text-align: right;
}

#slider {
	height: 5px;
	width: 80%;
	top: 5px;
/*	background-color: #5b9ce8;
	color: #5b9ce8; */
}

a.ui-slider-handle.ui-state-default {  
    position: absolute;  
    z-index: 2;  
    width: 15px;  
    height: 15px;  
    webkit-border-radius: 15px;
    background: #B0AEB0;
}  

.ui-widget-header {
	background: #5b9ce8;
}

.player-panel {
	padding: 15px;
}

.no-bottom-margin {
	margin-bottom: 0px;
}
/* END PLAYER */

/* SEARCH */

.add-song-plus {
	line-height: 52px;
	font-size: 26px;
}

.search-result {
	border-bottom: 2px solid #eee;
	margin: 4px 0px;
	padding: 4px;
}

.search-result-song {
	font-size: 1.2em;
	font-weight: bold;
}

#search-box {
	display: block;
	margin-bottom: 15px;
	width: 100%;
	padding: 6px 12px;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 2px solid #ccc;
	height: 50px;
	font-size: 18px;
}


/* END SEARCH */

/* ALL PAGES */

.player-nav {
	background-color: #5b9ce8;
	margin: 0 0 0 0;
	height: 120px;
	display: table;
	width: 100%;
}

.party-text {
	display: table-cell;
	color: #ffffff;
	font-size: 30px;
	height: 120px;
	text-align: center;
	vertical-align: middle;
}

.logo {
	display: table-cell;
	height: 110px;
	width: auto;
	padding: 5px;
	vertical-align: middle;
	position:absolute;
	left:0px;
	top:0px;
}

/* END SEARCH */

