.playlist {
    background-color: white;
    width: 640px;
    height: 52px;
}

.playlist_item {
    background-color: #eee;
    margin: 4px 0 4px 0;
    padding: 4px;
}

#playlist_item_index {
    color: #aaa;
    text-align: center;
    font-size: 1.5em;
}

.playlist_item .song_data {
    display: table-cell;
    vertical-align: middle;
}

#playlist_item_song_name {
    font-weight: bold;
    font-size: 1.2em;
}

#playlist_item_rating {
    color: #aaa;
}

.playlist_item .meta_data {
    line-height: 52px;
    font-size: 1.4em;
}

