search_results {
    background-color: white;
    width: 100%;
}

.search_result {
    background-color: #eee;
    margin: 4px 0 4px 0;
    padding: 4px;
    height: 52px;

}

#search_result_index {
    color: #aaa;
    text-align: center;
    font-size: 1.5em;
}

.search_result .song_data {
    display: table-cell;
    vertical-align: middle;
}

#search_result_song_name {
    font-weight: bold;
    font-size: 1.2em;
}

#search_result_rating {
    color: #aaa;
}

.search_result .meta_data {
    line-height: 52px;
    font-size: 1.4em;
}

